* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: rgb(253, 253, 255);


}



header {
    background-color: rgb(0, 0, 0);
    height: 100px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}




.name {
    color: rgb(232, 219, 219);
    background-color: rgb(177, 112, 217);
    font-size: 20px;
    display: inline-block;

    margin-left: 0px;

    padding-left: 20px;
    padding-right: 5px;
    /* position:absolute;   */


}

nav {
    text-align: right;
    padding: 5px;
    background-color: rgb(0, 0, 0);


    /* position: fixed;  */

}

li {
    list-style-type: none;
    display: inline;
    margin: 20px;
    /* margin-top: 70px; */
    height: 100px;





}

nav a {


    font-size: 20pt;
    color: rgb(232, 226, 241);
    /* margin-top: 70px; */
    height: 100px;
    /* position:absolute; */


}







.hero {
    background-image: url("../images/heroimage3.jpg");
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* position: absolute;   */
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;


}



.hero-text {
    /* position: relative; */
    margin: 20px;

}

.hero-text h2 {
    color: rgb(235, 226, 226);
    background-color: rgb(177, 112, 217);
    font-size: 30pt;
    /* margin-left: 75%;
margin-top: 50%; */



}


h2 {
    /* display: inline; */
    color: #000000;
    /* background-color: rgba(144, 144, 184, 0.958); */
    font-size: 30pt;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
.section-header {
    width: 225px;
    border-right: 5px solid black;
}
.about-content {
    padding: 20px;
}

p {
    font-size: 20px;
    margin-right: 300px;
}

.work-flex-container {
    /* flex: 1 0 200px;  */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */

}
.work-flex-item:first-child{
    min-height: 400px;
    flex-basis: 100%;
    margin-left: 20px;
    width: 100px;
}

.small-flex-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items:flex-end;
    flex-direction: row; 
    /* background-color: blue; */
    /* max-width: 200px;
    height: 50%; */
    /* margin: 5px; */
    /* padding: 20px; */

}


/* img {
    width: 400px;
    height:200px;
    border: 5px solid rgb(175, 91, 244);
    display: flex;
    justify-content: center;
}  */

#main-img {
    /* background-image: url(../images/workimage1.jpg);  */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
    /* max-width:100px;
    height: 200px; */


}
#main-img{
    background-image: url("../images/workimage1.jpg");
    height: 400px;
    width: 800px;
    /* background-size: cover;
    background-position: center; */
    /* position: absolute;   */
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; */
}
.prework{
    background-image: url("../images/workimage2.jpg");
    height: 200px;
    width: 400px;
    background-size: cover;
    background-position: center;
    /* position: absolute;   */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.codebase{
    background-image: url("../images/workimage3.jpg");
    height: 200px;
    width: 400px;
    background-size: cover;
    background-position: center;
    /* position: absolute;   */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

/* img {
    width: 300px;
    height: 200px;
    padding: 5px;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    border:10px solid #f10ac3;
    
    
} */

.coming-soon{
    background-image: url("../images/cs2.jpg");
    height: 200px;
    width: 400px;
    background-size: cover;
    background-position: center;
    /* position: absolute;   */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.coming-soon{
    background-image: url("../images/cs2.jpg");
    height: 200px;
    width: 400px;
    background-size: cover;
    background-position: center;
    /* position: absolute;   */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

/* h3,
span { */

    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    text-align: right; */
    /* margin: -55px;
    padding-top: 10px;
    width: 200px;
    background-color: rgb(168, 11, 240);
   
} */

ul #contact-info { 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; 
    color: blueviolet;
    font-size: 15pt;
    margin-bottom: 500px;
}

/* @media screen and (max-width: 821px) {
    header {
      width: 50%;
    }
  } */