* {
    border: 1px solid rgb(211, 13, 211); 
    font-family: Arial, Helvetica, sans-serif;
    padding:0%;
    margin:0%;
}

body {
    position: relative;
}

header {
    background-color: rgb(10, 2, 2);
  

}

.hero {
    background-image: url("../images/heroimage3.jpg");
    height: 180px;
    width: 100%;
    margin-bottom: 12px;
    background-size: cover;
    background-position:center;
  
}

.name {
    color: rgb(232, 219, 219);
    background-color: rgb(0, 0, 0);
    font-size: 25pt;
    display: inline-block;
    margin-left: 6px;
    margin-right: auto;
    padding: 5px;
    position:absolute;

}

nav {
    position: relative;
    list-style-type: none;
    margin:0px;
    text-align: right;
    padding: 10px;
    
    



}

nav ul li {

    list-style-type: none;
    display: inline-block;
    text-align: right;
    text-decoration: underline;
    color: rgb(250, 243, 243);
    font-size: 18pt;
    padding: 10px;
    margin:10px ;

}

h2 {
    display: inline;
    color: #000000;
    background-color: rgb(144, 144, 184);
    line-height: 500px;
    font-size:30pt;
}

.hero-text {
  
    margin
    padding:
 
    
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

}

.sections {
    color: #000000;
    background-color: blue;
    font-size:50pt;
    margin-left: 300%;
    padding:0%;
   
}

p {
    font-size: 200%;
}

.work-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
   
    

}


.work-flex-container {
    /* flex: 1 0 200px; */
    
}

.flex-item{
    width: 500px;
}

/* .image-box img {
    max-width: 200px;
    height: 200px;
   
     
} */

.main-flex-item {
    width: 10%;
    height: 50%;
    
    
}

h3,span {
  
    display: block;
    padding-top:10px;

    width: 200px;
    background-color: rgb(168, 11, 240);
}



